version: '2'
services:
    backend-mongodb:
        container_name: backend-mongodb
        image: mongo:3.2.10
        ports:
            - "27017:27017"
        command: mongos --configdb backend-mongodb-config
    backend-mongodb-node:
        build:
            context: .
            dockerfile: mongodb/MongoDB.Dockerfile
        command: mongod --replSet rs1 --noprealloc --smallfiles
    backend-mongodb-config:
        image: mongo:3.2.10
        container_name: backend-mongodb-config
        command: mongod --noprealloc --smallfiles --configsvr --dbpath /data/db
